/* Importing Google's Roboto Font Family */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
}

main {
    width: 960px;
    margin: 0px auto;
    padding: 0;
}

h1 {
    font-weight: 900;
    margin: 1em 0 0 0;
    color: black;
    text-align: center;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 8;
    color:brown;
    line-height: 200%;
}


#subtitle {
    font-family: 700;
    font-size: 1.5em;
}

#chart-container {
    width: 960px;
    height: 600px;
    background-color: #f8f8f8;
    margin: auto;
}
#chart-container > div,section {
    display: inline-block;
    vertical-align: top;
}
#gdp-chart-container {
    height: 600px;
    width: 600px;
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}
#gdp-chart {
    height: 600px;
    /* background-color: red; */
}
#chart-info {
    margin: 0;
    padding: 0 1em;
    background-color: #eeeeee;
    list-style:disc;
    width: 324px;
    height: 600px;
}
#year-slider {
    margin-top: 50px;
}
#year-slider, #year-slider * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
