/*  @author  Raksha Sunil(edited)
*/



/* Importing Google's Roboto Font Family */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
}

main {
    width: 960px;
    margin: 0px auto;
    padding: 0;
}

h1 {
    font-weight: 900;
    margin: 1em 0 0 0;
    color: black;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 8;
    font-weight:bolder;
    color:black;
    line-height: 200%;
    list-style-type: none;
}

li span {
            font-weight: normal;
          }


#subtitle {
    font-family: 700;
    font-size: 1.5em;
}

#chart-container {
    width: 960px;
    height: calc(600px+0px);
    background-color: #eeeeee;
    margin: auto;
}
#chart-container > div,section {
    display: inline-block;
    vertical-align: top;
}
#gdp-chart-container {
    height: 600px;
    width: 600px;
    margin: 0;
    padding: 0;
/*    background-color: #e8e8e8;*/
}
#gdp-chart {
    height: 600px;
    /* background-color: red; */
}
#right-sidebar {
    margin: 0;
    padding: 1em 1em;
/*    background-color: #fff;*/
    list-style:disc;
    width: 324px;
    height: calc(100%-2em);
}
#chart-info {
    width: 100%;
}
#chart-info li,
#chart-info p{
    font-size: 14px;
}
#year-slider {
    margin-top: 50px;
}
#year-slider, #year-slider * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#reset_zoom {
    width: 100%;
    margin: 0.5em;
    background-color: #f8f8f8;
    border: solid 2px black;
    border-radius: 1em;
    font-size: 1em;
    outline: none;
}
#reset_zoom:hover {
    background-color: #81D4FA;
    border-color: #4FC3F7;
}
#reset_zoom:active {
    background-color: #03A9F4;
    border-color: #0288D1;
    color: #fff;
}
#color-picker {
    width: 70%;
    
}